#ifndef SECRETS_H
#define SECRETS_H

// Salin file ini menjadi secrets.h, lalu isi dengan kredensial kamu
#define FIREBASE_HOST   "URL_DATABASE_KAMU.firebaseio.com"
#define FIREBASE_AUTH   "DATABASE_SECRET_KAMU"
#define DEVICE_ID       "DEVICE_ID_KAMU"

#endif // SECRETS_H
